<html>
<head>
    <title>Información del servidor Outline VPN</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Información del servidor Outline VPN</h1>
    <table>
        <tr>
            <th>Clave de acceso</th>
            <th>Nombre de usuario</th>
        </tr>
        {% for key in keys %}
        <tr>
            <td>{{ key['accessUrl'] }}</td>
            <td>{{ key['name'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
